/* Overall */
body {
	font-size: 100% !important;
	/***/ background-image: none !important;
	
}

input, select, textarea {
	font-size: 100% !important;
	width: 100% !important;
}
input[type='image'],
input[type='radio'],
input[type='checkbox'] {
	width: auto !important;
}

#country {
	width: 10em !important;
}
#paging_nav select {
	width: auto !important;
}

p {
	padding: 0 0 1.4em 0 !important;
	line-height: 1.7em !important;
}

h1 {
	text-align: center;
}

h1 {
	font-size: 250% !important;
}

h2 {
	font-size: 125% !important;
}

h3 {
	font-size: 200% !important;
}

h4 {
	font-size: 100% !important;
}

h5 {
	font-size: 150% !important;
}


/* Headings */
.Heading1,
.Heading2,
.Heading3 {
	font-size: 102% !important;
}


/* Backgrounds */
.Background1,
.Background2,
.Background3 {
	font-size: 100% !important;
}


/* Buttons */
.Btn1,
.Btn2,
.Btn3,
.Btn4,
.Btn5,
.Btn6,
a.button,
input.button {
	font-size: 125% !important;
}


/* Layout */
#footer_container,
#section_container,
#section2_container,
#body_container {
	width: auto !important;
	/*margin: 2.0em 1.5em !important;*/
}

#body_container {
	display: flex;
	flex-flow: column;
}

#navf {
	top: 0 !important;
	left: 0 !important;
	text-align: left !important;
}
#navf a {
	white-space: nowrap !important;
}

#copyright {
	top: 65px !important;
	right: auto !important;
	text-align: left !important;
}

#body_left,
#body_right,
#body_center {
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
	height: auto !important;
	
}

#header_container {
	width: 100% !important;
}

#section2 a:first-child {
	margin-right: 0 !important;
	margin-bottom: 1.5em !important;
}
#section2 a {
	width: 45% !important;
}

#body {
	/***/ background: #FFF !important;
	/***/ border-bottom: 0px solid #1B2C67 !important;
}

#body_left {
		order: 2;
}

#body_left img {
	max-width: 100%;
	height: auto !important;
}

#body_right {
	width: 100% !important;
	height: auto !important;
	margin: 40px 0 20px 0 !important;
	padding-bottom: 1px !important;
	position: relative !important;
	order: 2;
	display: none;
}

#body_right #panel {
	margin: 0 2.5em 2.5em 2.5em !important;
}

#body_right h1 {
	padding: 20px 0 20px 0;
}

#body_right img {
	padding: 20px 20px 0 0;
}

.ImageLink {
    margin: 6px 0 !important;
}

div.ImageLink {
	width: 95% !important;
}

div.ImageLink iframe {
	width: 100% !important;
}

#home {
	left: 1.5em !important;
}
#home img {
	max-width: 100%;
	height: auto;
}


/* Navigation (Mobile) */
#navm {
	position: fixed;
	z-index: 1001;
	top: 0;
	right: 0;
	margin-right: -75%;
	width: 75%;
	height: 100%;
	transition: all 500ms;
	background-color: #D0992A;
}
#navm_btn {
	display: block !important;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1000;
	top: 1.0em;
	right: 3.5em;
	width: 50px;
	height: 50px;
	line-height: 27px;
	letter-spacing: normal;
	font-size: 135%;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	transition: all 500ms;
}
#navm_btn > div {
	/*padding: 13px 14px 15px 14px;*/
}
#navm_btn > div  {
	/*float: left;
	width: 100%;
	height: 4px;
	background: #FFF;
	border-radius: 10px;
	margin: 2px 0;*/
	font-size:14px;
	margin-left:0px;
}
#navm_btn > span {
	display: none;
}
#navm.active {
	margin-right: 0;
}
#navm.active #navm_btn {
	right: 25px;
}
#navm.active #navm_btn > div {
	display: none;
}
#navm.active #navm_btn > span {
	display: inline;
}


/* Navigation */
#nav {
	position: relative !important;
	z-index: 999 !important;
	top: -30px !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 10px 0 !important;
	text-align: center !important;
	width: auto !important;
	height: 80% !important;
	overflow: auto !important;
}
#nav a {
	display: block !important;
	height: auto !important;
	text-indent: 0 !important;
	background: none !important;
	font-size: 110% !important;
	font-weight: bold !important;
	padding: 1.0em 0 !important;
	margin: 0 !important;
	line-height: normal !important;
	border: 0 !important;
}
#nav a,
#nav a:hover,
#nav a.hover,
#nav a.selected { 
	background: none !important;
	width: auto !important;
	text-align: center !important;
}
#nav ul {
	margin: 0 !important;
	padding: 0 1.2em !important;
	width: auto !important;
}
#nav ul li { 
	margin: 0 !important;
	padding: 0 !important;
	clear: both !important;
	width: auto !important;
	white-space: nowrap;
	float: none !important;
}

#nav a.trial,
#nav a.regulator {
	color: #666666 !important;
}
#nav a.trial:hover,
#nav a.regulator:hover,
#nav a.trial.selected,
#nav a.regulator.selected {
	color: #65B0D9 !important;
}


/* Navigation Overlays */
#nav ul li {
	display: block !important;
	position: relative !important;
}
#nav ul li li {
    border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
}
#nav ul li ul {
	display: block !important;
	position: relative !important;
	top: auto !important;
	left: auto !important;
	width: auto !important;
	padding: 0 !important;
	margin: -0.7em 0 1.0em 0 !important;
	float: none !important;
	background: none !important;
	font-size: 85% !important;
	border: 0 !important;
}
#nav ul li ul a {
	padding: 0.7em 0 !important;
}


/* Footer */
#footer {
	height: 20px !important;
}

#designed {
	position: relative !important;
	top: 70px !important;
	height: auto !important;
	line-height: normal !important;
	font-size: 0.8em !important;
	/** padding-bottom: 20px !important;*/
	/** top: 200px !important;*/
}

#mobile {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	width: 100% !important;
	/***/ top: 10px !important;
}
#mobile ul {
	float: left !important;
	width: 100% !important;
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
#mobile ul li {
	float: left !important;
	width: 100% !important;
	white-space: nowrap !important;
	text-align: center !important;
}
#mobile a img {
	vertical-align: middle !important;
	margin-bottom: 0.2em !important;
}
#mobile a {
	padding: .7em 1.2em .7em 1.0em !important;
	font-size: 110% !important;
	font-weight: bold !important;
	width: 50% !important;
}


/* Multi-Column List */
.columns,
.columns li {
	float: left !important;
	width: 90% !important;
}


/* Hide */
.mobile_no,
#flash,
#navi,
#social,
#social_counters,
#call,
#calltoaction,
#footer_home,
#reset,
#cta,
#vid,
#rotator_container,
#rotator,
#banner,
#blog_panel,
#newsletter,
#connect,
#locations {
	display: none !important;
}


/* Show */
.mobile_only,
.mobile_yes {
	display: inline !important;
}


/* Misc */
.mobile_autowidth {
	width: auto !important;
}

#body_left table img {
	/*width: 90% !important;*/
}

#body_left table {
	width: 100% !important;
}

#body_left table #captchaimg {
	width: auto !important;
}

form {
	width: 96% !important;
}

form table {
	width: 100% !important;
}

#GoogleMap1 {
	font-size: 85%;
}

.mosaic-backdrop img {
	width: 100% !important;
}
.mosaic-block {
	width: 135px !important;
	height: 135px !important;
}

.grid {
	width: 100% !important;
	margin: 1.5em 0 !important;
}

.grid img {
	width: auto !important;
}

.grid_image {
	margin: 0 3em 2em 0 !important;
}

.grid2 {
	width: auto !important;
	margin-right: 0 !important;
}

.grid2 p {
	font-size: 1.1em !important;
}

.feature {
    margin-left: 0 !important;
    width: auto !important;
}

.rotator_container {
	float: none;
}

#blog_body {
    float: none !important;
    width: 95% !important;
}
#blog_body img {
	width: auto !important;
}

.blog_nav div {
    width: auto !important;
}

#accreditations img {
	margin: 0 0.5em 0.5em 0 !important;
	width: 18%;
	height: auto;
}
#accreditations #waa {
	width: 10%;
}
#accreditations #bing {
	width: 31%;
}


/* Landscape Only */
@media only screen and (orientation: landscape) {

	#body_left img {
		max-width: width: 45%;
		height: auto !important;
	}
	
	#body_left table img {
		/*width: 40% !important;*/
	}

}


/* Parallax Header */
#body_header {
	height: 250px !important;
	line-height: 250px !important;
}
#body_header_text {
	margin-left: 0 !important;
}
#body_header_text h1 {
	font-size: 43px !important;
	margin: 0 0.5em !important;
}
#body_header_text h2 {
	font-size: 27px !important;
	margin: 0 0.5em !important;
}
#body_header_text img {
	max-width: 100%;
	height: auto;
}

#header {
	/*height: 150px !important;*/
}


/* Fixed Scrolling */
#fixedscroll.fixed {
	position: relative !important;
	top: 0px !important;
}

#page_content{
float:left;
}
