/* Overall */
/*@font-face {
    font-family: 'Museo';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo700-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
     font-family: 'Oswald-Light';
     src: url('../fonts/Oswald-Light.ttf');
	 font-weight: normal;
	 font-style: normal;
	 
}
@font-face {
    font-family: 'DroidSans';
     src: url('../fonts/DroidSans.ttf');
	 font-weight: normal;
	 font-style: normal;
	 
}
* {
	margin: 0;
	padding: 0;
	bottom: 0;
}

body {
	margin: 0;
	padding: 0;
	/*font-family: Helvetica, Arial, Geneva, sans-serif;*/
	font-size: 15px;
	color: #000;
	text-align: center;
	/*background: url(../images/Layout_BG.jpg) repeat-x;*/
	background-color: #FFF;
	
}

input, select, textarea {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: 15px;
	color: #000;
	border: 1px solid #C1C1C1;
	padding: 4px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
input:hover, select:hover, textarea:hover {
	border-color: #999;
}
input:focus, select:focus, textarea:focus {
	border-color: #FCD078;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15) inset, 0 0 3px #FCD078 !important;
}
input[type='image'],
input[type='radio'],
input[type='checkbox'] {
	border: none !important;
	box-shadow: none !important;
}
input[type='radio'],
input[type='checkbox'] {
	vertical-align: -2px;
}
input[type='submit'],
input[type='button'],
input[type='reset'] {
	box-shadow: none !important;
}

form {
	display: block;
	margin: 0;
	padding: 0;
}

label {
	margin-right: 1.5em;
}

#body_left>a {
	color: black;
	text-decoration: underline;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}
#leftmenu_nav>ul>li{
color:white;
-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

a:hover {
	color: #DA7901;
	text-decoration: underline;
}

p {
	margin: 0;
	padding: 0 0 1.1em 0;
	line-height: 1.3em;
}
.p_margin {
	margin-bottom: 0;
}
.p_padding {
	padding-bottom: 0;
}
.p_center {
	text-align: center;
}
.p_right {
	text-align: right;
}

.float_left {
	float: left;
}
.float_right {
	float: right;
}

ul, ol {
	margin: -0.8em 0 0 0;
	padding: 0 0 1em 3em;
	/*display: inline-block;*/
}
ul ul, ol ol {
	margin-top: 0;
}
ul li, ol li {
	margin-bottom: 1.3em;
	margin-left: -75px;
	border-bottom: 1px solid white;
}

hr {
	border-style: none;
	border-top: 1px dashed #C0C0C0;
	margin: 1em 0 2em 0;
	background-color: #FFF;
	color: #FFF;
}

img {
	border: 0;
}

.unbold {
	font-weight: normal;	
}

* :focus {
	outline: 0;
}


/* Headings */
h1, h2, h3, h4, h5, h6, pre {
	margin: 0;
	font-family: 'Museo', Helvetica, Arial, Geneva, sans-serif;
}

h1 {
	font-size: 30px;
	color: #007F40;
	margin-bottom: 0.1em;
	line-height: 1.0em;
}

h2 {
	font-size: 24px;
	/*color: #DA7901;*/
	color: red;
	margin-bottom: 0.7em;
	line-height: 1.0em;
	font-family: 'Oswald-Light';
	font-size: 20px;
}

h3 {
	font-size: 21px;
	color: #DA7901;
	margin-bottom: 0.1em;
}

h4 {
	font-size: 16px;
	/*color: #007F40;*/
	/*margin-bottom: 1em;*/
	margin-bottom: 3em;
	font-family: 'DroidSans';
	margin-left: 5px;
	font-weight: normal;
}

h5 {
	font-size: 18px;
	color: #2D9B0A;
	margin-bottom: 1.0em;
}


/* Sub-Headings */
.Heading1 {
	color: #007F40;
	font-size: 16px;
	font-weight: bold;
}

.Heading2 {
	color: #DA7901;
	font-size: 16px;
	font-weight: bold;
}

.Heading3 {
	color: #DA7901;
	font-size: 11px;
}

.Heading4 {
	color: #007F40;
	font-size: 16px;
	font-weight: bold;
}

.Heading5 {
	color: #2D9B0A;
	font-size: 16px;
	font-weight: bold;
}


/* Highlights */
.Highlight1 {
	color: #C00;
}

.Highlight2 {
	color: #090;
}

.Highlight3 {
	color: #007F40;
}

.Highlight4 {
	color: #DA7901;
}

.Highlight5 {
	color: #DA7901;
}

.Highlight6 {
	color: #007F40;
}

.Highlight7 {
	color: #2D9B0A;
}


/* Backgrounds */
.Background1 {
	background-color: #E6FFF2;
	border-right: 4px solid;
	border-color: #B8FFDC;
	color: #004C26;
	padding: 0 5px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
}

.Background2 {
	background-color: #FFF4E6;
	border-right: 4px solid;
	border-color: #FFDFB8;
	color: #A75D01;
	padding: 0 5px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
}

.Background3 {
	background-color: #FFF4E6;
	border-right: 4px solid;
	border-color: #FFDFB8;
	color: #A75D01;
	padding: 0 5px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
}

.Background4 {
	background-color: #E6FFF2;
	border-right: 4px solid;
	border-color: #B8FFDC;
	color: #004C26;
	padding: 0 5px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
}

.Background5 {
	background-color: #ECFDE7;
	border-right: 4px solid;
	border-color: #CBFBBC;
	color: #1F6B07;
	padding: 0 5px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
}

.Background6 {
	background-color: #EBEBEB;
	border-right: 4px solid;
	border-color: #D1D1D1;
	color: #696969;
	padding: 0 5px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 1.0);
}


/* Callout */
.Callout1 {
	background-color: #E6FFF2;
	border-left: 7px solid;
	border-color: #B8FFDC;
	color: #004C26;
	padding: 12px 10px 0px 12px;
	text-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

.Callout2 {
	background-color: #FFF4E6;
	border-left: 7px solid;
	border-color: #FFDFB8;
	color: #A75D01;
	padding: 12px 10px 0px 12px;
	text-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

.Callout3 {
	background-color: #FFF4E6;
	border-left: 7px solid;
	border-color: #FFDFB8;
	color: #A75D01;
	padding: 12px 10px 0px 12px;
	text-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

.Callout4 {
	background-color: #E6FFF2;
	border-left: 7px solid;
	border-color: #B8FFDC;
	color: #004C26;
	padding: 12px 10px 0px 12px;
	text-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

.Callout5 {
	background-color: #ECFDE7;
	border-left: 7px solid;
	border-color: #CBFBBC;
	color: #1F6B07;
	padding: 12px 10px 0px 12px;
	text-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

.Callout6 {
	background-color: #EBEBEB;
	border-left: 7px solid;
	border-color: #D1D1D1;
	color: #696969;
	padding: 12px 10px 0px 12px;
	text-shadow: 0 1px 0 rgba(255,255,255,1.0);
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

p.Callout1,
p.Callout2,
p.Callout3,
p.Callout4,
p.Callout5,
p.Callout6 {
	padding-bottom: 12px;	
}


/* Images */
.ImageLink {
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 5px;
	margin: 6px 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	border-radius: 2px;
}
a .ImageLink {
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover .ImageLink {
	background-color: #FFF;
	border-color: #DA7901;
}
table.ImageLink {
	border-collapse: collapse;
	width: 1%;
	font-size: 0.85em;
	color: #666;
}
table.ImageLink td {
	padding: 5px;
}
table.ImageLink hr {
	margin: 5px 0 2px 0;
	border-style: dotted;
}

.ImagePad_Left {
	margin: 0 0 1em 1em;
}
.ImagePad_Right {
	margin: 0 1em 1em 0;
}


/* Buttons */
.Btn1,
.Btn2,
.Btn3,
.Btn4,
.Btn5,
.Btn6,
a.button,
input.button {
	border-bottom: 0;
	border: 0px solid;
	padding: 0.5em 1.0em;
	margin: 0 3px 0 0;
	cursor: pointer;
	font-family: 'Museo', Helvetica, Arial, Geneva, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: none;
	-webkit-transition: background 0.2s linear, color 0.2s linear, text-shadow 0.2s linear;
	-moz-transition: background 0.2s linear, color 0.2s linear, text-shadow 0.2s linear;
	-ms-transition: background 0.2s linear, color 0.2s linear, text-shadow 0.2s linear;
	-o-transition: background 0.2s linear, color 0.2s linear, text-shadow 0.2s linear;
	transition: background 0.2s linear, color 0.2s linear, text-shadow 0.2s linear;
}
.Btn1:hover,
.Btn2:hover,
.Btn3:hover,
.Btn4:hover,
.Btn5:hover,
.Btn6:hover,
a.button:hover,
input.button:hover {
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(255,255,255,0.35);
}
.Btn1:active,
.Btn2:active,
.Btn3:active,
.Btn4:active,
.Btn5:active,
.Btn6:active,
a.button:active,
input.button:active {
	position: relative;
	top: 1px;
}
.Btn1:visited,
.Btn2:visited,
.Btn3:visited,
.Btn4:visited,
.Btn5:visited,
.Btn6:visited,
a.button:visited,
input.button:visited {
	color: #FFF;
}
.Btn1:focus,
.Btn2:focus,
.Btn3:focus,
.Btn4:focus,
.Btn5:focus,
.Btn6:focus,
a.button:focus,
input.button:focus {
	border-color: inherit;
}

a.button,
input.button,
.Btn1 {
	background-color: #007F40;
	border-color: #00190D;
	color: #FFF;
}
a.button:hover,
input.button:hover,
.Btn1:hover {
	background-color: #009E4F;
	border-color: #002D17;
	color: #FFF;
}

.Btn2 {
	background-color: #DA7901;
	border-color: #744101;
	color: #FFF;
}
.Btn2:hover {
	background-color: #F88A01;
	border-color: #894C01;
	color: #FFF;
}

.Btn3 {
	background-color: #F11313;
	border-color: #744101;
	color: #FFF;
}
.Btn3:hover {
	background-color: #F33F3F;
	border-color: #894C01;
	color: #FFF;
}

.Btn4 {
	background-color: #007F40;
	border-color: #00190D;
	color: #FFF;
}
.Btn4:hover {
	background-color: #009E4F;
	border-color: #002D17;
	color: #FFF;
}

.Btn5 {
	background-color: #2D9B0A;
	border-color: #113B04;
	color: #FFF;
}
.Btn5:hover {
	background-color: #35B80C;
	border-color: #174E05;
	color: #FFF;
}

.Btn6 {
	background-color: #7E7E7E;
	border-color: #6E6E6E;
	color: #FFF;
}
.Btn6:hover {
	background-color: #989898;
	border-color: #6E6E6E;
	color: #FFF;
}

.BtnImg {
	font-size: 1.1em;
	padding-top: 5px;
	padding-bottom: 5px;
}
.BtnImg img {
	border: 0;
	vertical-align: middle;
}


/* Layout */
#header,
#header_container,
#body_container,
#footer,
#footer_container,
#center {
	margin: 0 auto;
}

#header_container,
#body_container,
#footer_container {
	position: relative;
	width: 997px;
	text-align: left;
}

#header {
	position: relative;
	/*background: url(../images/Layout_Header.jpg) no-repeat center top;*/
	height: 125px;
	/*border-bottom:2px solid #005caa;*/
	background: url('../images/bg-steel.jpg');
}

#body_bg {
	/*background: url(../images/Layout_BodyBG.jpg) repeat-y center top;*/
	overflow: hidden;
	clear: both;
}

#body {
	/*background: url(../images/Layout_Body.jpg) no-repeat center top;*/
	overflow: hidden;
	background: url('../images/bg-steel.jpg');
}

#body_container {
	min-height: 830px;
	position: relative;
	border-top: 3px solid #005caa;
	overflow: hidden;
}

#body_left {
	width: 74.5%;
	margin: 0;
	/*padding: 30px 0 20px 0;*/
	float:right;
	line-height: 49px;
	text-align:center;
	font-family: 'DroidSans';
	background-color:white;
	min-height: 830px;
}

#body_right {
	width: 194px;
	height: 100%;
	margin: 0;
	padding: 30px;
	background-color: #005caa;
	position: absolute;
	top: 0;
	float:left;
	font-family:'Oswald-Light';
}
#body_right h1 {
	font-size: 44px;
	text-align: center;
	line-height: 1.0em;
}
#body_right img {
	margin-top: -20px;
}

#footer {
	/*background: url(../images/Layout_Footer.jpg) no-repeat center top;*/
	height: 30px;
	clear: both;
	font-size: 16px;
	color: white;
}

#footer_bg {
	/*background: url(../images/Layout_FooterBG.jpg) repeat-x center top;*/
	background: #E51937;
	overflow: hidden;
	clear: both;
	
}


/* Navigation (Text) */
#nav {
	position: absolute;
	top: 141px;
	right: 0px;
}
#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav ul li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}
#nav ul li a {
	display: block;
	margin: 0;
	padding: 0 2.35em;
	height: 38px;
	line-height: 38px;
	text-decoration: none;
	font-family: 'Museo', Helvetica, Arial, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	/*text-transform: uppercase;*/
	color: #FFF;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	/*border-right: 2px solid #267D0A;*/
}
#nav ul li:last-child a {
	border-right: 0;
}
#nav ul li a:hover,
#nav ul li a:active,
#nav ul li a.selected {
	color: #007F40;
	background-color: #FFD65D;
	text-decoration: none;
}


/* Navigation Overlays */
#nav ul li {
	position: relative;
}

#nav ul ul {
	display: none;
	position: absolute;
	z-index: 999;
	top: 35px;
	left: 0px;
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	/*
	border-top: 2px solid #000;
	border-bottom: 7px solid #000;
	background: rgb(0,0,0);
	filter: alpha(opacity=85);
	background: rgba(0,0,0,0.85);
	*/
	border-left: 7px solid #1F6B07;
	background-color: #2D9B0A;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.6);
	box-shadow: 0 0 6px rgba(0,0,0,0.6);
}

#nav ul li li {
	/*border-bottom: 1px dotted #414141;*/
	border-top: 1px solid #34B30C;
	border-bottom: 1px solid #268308;
	width: 100%;
}

#nav ul li li:last-child {
	/*border-bottom: 0;*/
}

#nav li ul a {
	display: block;
	padding: 6px 1.3em 6px 0.9em;
	margin: 0;
	/*width: 150px;*/
	white-space: nowrap;
	height: auto;
	text-indent: 0;
	text-decoration: none;
	color: #FFF;
	text-shadow: 0 -1px 0 #1F6B07;
	-webkit-transition: background 0.2s linear, color 0.2s linear;
	-moz-transition: background 0.2s linear, color 0.2s linear;
	-ms-transition: background 0.2s linear, color 0.2s linear;
	-o-transition: background 0.2s linear, color 0.2s linear;
	transition: background 0.2s linear, color 0.2s linear;
}

#nav li ul a:hover {
	background-color: #38C10C;
	color: #267D0A;
}

#nav li li ul {
	top: 0px;
	left: 1px;
	margin-left: 100%;
}

#nav ul li.parent > a {
	border-right: 2px solid;
	border-color: #3BCB0D;
	-webkit-transition: border 0.2s linear;
	-moz-transition: border 0.2s linear;
	-ms-transition: border 0.2s linear;
	-o-transition: border 0.2s linear;
	transition: border 0.2s linear;
}

#nav ul li.parent > a:hover {
	border-color: #267D0A;
}

#nav ul li.parent > a > div.marker {
	display: block;
	position: absolute;
	top: 0.4em;
	right: 0.6em;
	/*font: 16px Webdings, Wingdings;*/
	color: #3BCB0D;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}
#nav ul li.parent > a:hover > div.marker {
	color: #267D0A;
}


/* Navigation (Footer) */
#navf {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 100%;
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}
#navf ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
}
#navf ul li {
	display: inline;
	margin: 0;
	padding: 0;
}
#navf ul li a {
	color: #FFF;
	text-decoration: none;
	margin: 0 10px 0 6px;
}
#navf ul li:first-child a {
	margin-left: 0;	
}
#navf ul li a:hover {
	color: #DA7901;
	text-decoration: none;
}


/* Home */
#home {
	position: absolute;
	top: 20px;
	left: 0px;
}


/* Copyright */
#copyright {
	position: absolute;
	top: 35px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #FFF;
}
#copyright a {
	color: #FFF;
	text-decoration: none;
}
#copyright a:hover {
	color: #DA7901;
}


/* Designed */
#designed {
	position: relative;
	width: 100%;
	height: 53px;
	line-height: 53px;
	text-align: center;
	font-size: 14px;
	color: #FFF;
}
#designed a {
	color: #FFF;
	text-decoration: none;
}
#designed a:hover {
	color: #DA7901;
}


/* Rotator */
#rotator {
	position: absolute;
	top: 10px;
	left: 10px;
}


/* Buttons (Home/Header) */
#buttons {
	position: absolute;
	top: 10px;
	left: 10px;
}


/* Call To Action */
#cta {
	position: absolute;
	top: 27px;
	text-align: center;
	font-family: 'Museo', Helvetica, Arial, Geneva, sans-serif;
	font-weight: bold;
	font-size: 26px;
	color: #D0992C;
	right: 0px;
}
#cta strong {
	font-size: 30px;
	color: #007F3D;
}


/* Social */
#social {
	position: absolute;
	top: 68px;
	right: 0px;
}
#social img {
	margin-left: 5px;
}

#facebook {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 100px;
}
#facebook a {
	display: block;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
}

#twitter {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 100px;
}
#twitter a {
	display: block;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
}

#linkedin {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 100px;
}
#linkedin a {
	display: block;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
}


/* Link Icons */
.icon_pdf {
	background: url(../images/icons/Icon_PDF.png) no-repeat 0 50%;
	padding-left: 19px;
}

.icon_pdf20 {
	background: url(../images/icons/Icon_PDF20.png) no-repeat 0 50%;
	padding: 3px 0 3px 23px;
}

.icon_pdf32 {
	background: url(../images/icons/Icon_PDF32.png) no-repeat 0 50%;
	padding: 10px 0 10px 35px;
}

.icon_email {
	background: url(../images/icons/Icon_Email.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_email_add {
	background: url(../images/icons/Icon_EmailAdd.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_email_sub {
	background: url(../images/icons/Icon_EmailSub.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_phone {
	background: url(../images/icons/Icon_Phone.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_phone2 {
	background: url(../images/icons/Icon_Phone2.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_fax {
	background: url(../images/icons/Icon_Fax.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_mobile {
	background: url(../images/icons/Icon_Mobile.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_map {
	background: url(../images/icons/Icon_MapPin.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_calendar {
	background: url(../images/icons/Icon_Calendar.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_web {
	background: url(../images/icons/Icon_Globe.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_service {
	background: url(../images/icons/Icon_Bell.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_support {
	background: url(../images/icons/Icon_Support.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_help {
	background: url(../images/icons/Icon_Question.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_login {
	background: url(../images/icons/Icon_Lock.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_news {
	background: url(../images/icons/Icon_News.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_cart {
	background: url(../images/icons/Icon_Cart.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_back {
	background: url(../images/icons/Icon_ArrowLeft.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_print {
	background: url(../images/icons/Icon_Print.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_home {
	background: url(../images/icons/Icon_Home.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_sitemap {
	background: url(../images/icons/Icon_Sitemap.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_search {
	background: url(../images/icons/Icon_Search.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_sections {
	background: url(../images/icons/Icon_Sections.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_success {
	background: url(../images/icons/Icon_Tick.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_success_small {
	background: url(../images/icons/Icon_Tick_Small.png) no-repeat 0 50%;
	padding-left: 16px;
}

.icon_warning {
	background: url(../images/icons/Icon_Exclamation.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_warning_small {
	background: url(../images/icons/Icon_Exclamation_Small.png) no-repeat 0 50%;
	padding-left: 16px;
}

.icon_error {
	background: url(../images/icons/Icon_Cross.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_error_small {
	background: url(../images/icons/Icon_Cross_Small.png) no-repeat 0 50%;
	padding-left: 16px;
}

.icon_required {
	background: url(../images/icons/Icon_Error.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_required_small {
	background: url(../images/icons/Icon_Error_Small.png) no-repeat 0 50%;
	padding-left: 16px;
}

.icon_plus {
	background: url(../images/icons/Icon_Plus.png) no-repeat -3px 50%;
	padding-left: 12px;
	font-size: 12px;
}

.icon_minus {
	background: url(../images/icons/Icon_Minus.png) no-repeat -3px 50%;
	padding-left: 12px;
	font-size: 12px;
}

.icon_zip {
	background: url(../images/icons/Icon_Zip.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_chat {
	background: url(../images/icons/Icon_Chat.png) no-repeat 0 50%;
	padding-left: 20px;
}

.icon_doc {
	background: url(../images/icons/Icon_Document.png) no-repeat 0 50%;
	padding-left: 17px;
}

.icon_centella {
	background: url(../images/icons/Icon_Centella.png) no-repeat 0 50%;
	padding: 3px 0 4px 20px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.95);
}


/* Lists */
.list_pdf {
	list-style-type: none;
	padding: 0 0 1em 1.6em;
}
.list_pdf li {
	background: url(../images/icons/Icon_PDF.png) no-repeat 0 50%;
	padding-left: 20px;
}


/* FAQ */
#faq dt {
	position: relative;
	color: #007F40;
	font-weight: bold;
	cursor: pointer;
	margin-top: 20px;
	padding-left: 27px;
	padding-bottom: 2px;
	padding-top: 5px;
	overflow: hidden;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#faq dt strong {
	position: relative;
	top: 1px;
}
#faq dt:hover {
	color: #DA7901;
}
#faq dt div {
	position: absolute;
	top: 0px;
	left: 0px;
	font-weight: bold;
	font-size: 21px;
	font-family: 'Museo', Helvetica, Arial, Geneva, sans-serif;
}
#faq dd {
	position: relative;
	color: #0A0A0A;
	line-height: 21px;
	background-color: #FBFBFB;
	border-top: 3px solid #CCC;
	margin: 3px 0px 0px 15px;
	padding: 1px 8px 5px 32px;
	overflow: hidden;
}
#faq dd div {
	position: absolute;
	top: 0px;
	left: 4px;
	color: #DDD;
	font-weight: bold;
	font-size: 21px;
	font-family: 'Museo', Helvetica, Arial, Geneva, sans-serif;
}
#faq_toggle {
	font-weight: bold;
	font-size: 11px;
}


/* Fade Carousel */
#carousel {
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}


/* Quotes */
blockquote {
	padding: 0px;
	margin: 0px 30px;
	/*clear: both;*/
}

blockquote:before,
blockquote:after {
	font-family: Arial, Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 3.5em;
	color: #C0C0C0;
}

blockquote:before {
	content: open-quote;
	vertical-align: -0.95em;
	margin: 0 0 0 -30px;
	line-height: .2em;
}

blockquote:after {
	float: right;
	content: close-quote;
	line-height: .7em;
}

blockquote p {
	padding-bottom: 0.5em;
	font-size: 0.9em;
}

blockquote cite {
	font-style: normal;
	font-size: 0.8em;
}


/* Paging */
#paging_nav {
	list-style: none;
	float: left;
	width: 100%;
	margin: 10px 0;
	padding: 0;
	border-top: 1px solid rgba(0,0,0,0.25);
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	/*
	border-top: 1px solid;
	border-color: #CCC;
	background-color: #F5F5F5;
	color: #000;
	*/
}
#paging_nav,
#paging_nav select {
	font-size: 12px;
}
#paging_nav span {
	font-weight: bold;
}
#paging_nav li {
	float: left;
	white-space: nowrap;
	margin-top: 7px;
}
#paging_nav li.left {
	width: 24%;
	text-align: left;
}
#paging_nav li.left span {
	margin-left: 8px;
}
#paging_nav li.mid {
	width: 50%;
	padding-top: 5px;
	text-align: center;
}
#paging_nav li.right {
	width: 25%;
	text-align: right;
}
#paging_nav li.right select {
	margin-right: 4px;
}


/* Grid */
.grid {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	margin: 0 20px 20px 0;
	/*width: 130px;*/
}
.grid:nth-child(2n+1) { /* (every 2nd div) */
	margin-right: 0;	
}
.grid img {
	margin-left: 0;
	/*width: 120px;*/
}

.grid_image {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
	margin: 0 5em 2em 0;
}

.block {
	float: left;
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}


/* Multi-Column List */
.col2, .col3, .col4, .col5, .col6 {
	margin-bottom: 1.0em;
	overflow: hidden;
}
.col2 li, .col3 li, .col4 li, .col5 li, .col6 li {
	float: left;
}
.col2 li { width: 50%; }
.col3 li { width: 33.333%; }
.col4 li { width: 25%; }
.col5 li { width: 20%; }
.col6 li { width: 16.666%; }


/* Tables */
th, td {
	padding: 2px;
}

table.table {
	border-collapse: collapse;
	margin-bottom: 2.5em;
}
table.table td,
table.table th {
	border: 1px solid #CCC;
	padding: 6px;
	font-size: 0.9em;
}

table.table_0 th,
table.table_0 td {
	padding: 0 !important;	
}

table.table_1 th,
table.table_1 td {
	padding: 1px !important;	
}

table.table_2 th,
table.table_2 td {
	padding: 2px !important;	
}

table.table_3 th,
table.table_3 td {
	padding: 3px !important;	
}

table.table_altrows tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.01);
}
table.table_altrows tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.03);
}
table.table_altrows tr:first-child {
	background-color: rgba(0, 0, 0, 0.05);
}

form table {
	/*width: 500px;*/
}


/* Placeholder */
.placeholder {
	color: #969696 !important;
}
::-webkit-input-placeholder { /* WebKit browsers */
	color: #969696;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #969696;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #969696;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #969696;
}


/* Google Maps */
.gmap_infowin,
.gmap_infowin a {
	font-family: sans-serif !important;
	font-weight: normal !important;
	text-align: center;
	min-width: 175px;
}
.gmap_links,
.gmap_links a {
	font-size: 10px !important;
}


/* Lightview */
.lv_button_top_close {
	top: 20px !important;
	left: auto !important;
	right: 65px !important;
}

.lv_title_caption,
.lv_title_caption_slide {
	font-family: inherit !important;
	font-size: 0.95em !important;
}

.lv_title_caption_slide {
	padding: 10px 0 7px !important;
	text-shadow: 0 1px 0 rgba(0,0,0,0.95) !important;
	width: 100% !important;
}

.lv_title {
	color: #FFF !important;
	width: 100% !important;
}

.lv_slider {
	padding: 10px 0 14px !important;
}


/* Validation */
.required:hover,
.required_email:hover,
.required_phone:hover,
.required_alpha:hover,
.required_numeric:hover,
.required_highlight {
	border-color: #C00;
}


/* Panel */
#panel {
	position: relative;
	color: #007F40;
	font-family: 'Museo', Helvetica, Arial, Geneva, sans-serif;
	font-size: 16px;
}
#panel table {
	width: 98%;
}
#panel td {
	padding: 4px;
}
#panel_btn {
	position: absolute;
	top: 200px;
	right: 10px;
	width: 100px;
	height: 50px;
}
#panel_btn input {
	width: 100%;
	height: 100%;
	border: 0;
	box-shadow: none;
	cursor: pointer;	
}
#panel input,
#panel textarea,
#panel select {
	width: 100%;
}
#panel input[type='radio'],
#panel input[type='checkbox'],
#panel input[type='submit'] {
	width: auto !important;
}


/* Print */
@media print {
	h1, h2, h3, h4, h5, h6, pre {
		page-break-after: avoid;
	}
	
	table tr, ul, ol {
		page-break-inside: avoid;
	}

	#header,
	#footer,
	#panel,
	.noprint {
		display: none;
	}

	#body_left,
	#body_right,
	#body_center,
	#body_container {
		margin: 0;
		padding: 0;
		width: auto;
		height: auto;
	}

	#body,
	#body_bg {
		overflow: auto;
	}
}



#body_header {
	background: url(../images/Photo_Header.jpg) #E9EAE4 50% 50%;
	background-size: 100% auto;
	height: 366px;
	line-height: 366px;
}

#body_header_text {
	position: relative;
	width: 100%;
	margin-left: -400px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}


/* Fixed Scrolling */
#fixedscroll {
	position: relative;
	top: 0px;
	left: auto;
	width: inherit;
	transition: top 200ms;
}

#fixedscroll.fixed {
	position: fixed;
	top: 30px;
}


/* Mobile */
#navm_btn,
#mobile,
.mobile_only {
	display: none;
}
.mobile_yes,
.mobile_no {}
#sc_drag_area_protector div{
  border-radius: 0px 0px;
  margin:0;
  /*max-width:100%;*/
  min-width: 1px;

}

#sc_drag_area {
  height:100px;
  left:150px;
  position: absolute;
  top:100px;
  width:250px;
  z-index: 9999;
}
#sc_drag_container {
  border: 1px solid #0000FF;
  cursor: move ;
  height: 100% ;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative ;
  width: 100%;
  z-index:9997;
}
#sc_drag_area_protector {
	border-radius: 0px 0px;
	display: block;
	height:100%;
	left:0;
	top:0;
	position: absolute;
	width:100%;
	z-index:8500;
	margin: 0;
	min-width: 1px;
	overflow: hidden;
}
#sc_drag_size {
	background-color: rgba(44, 44, 44, 0.5);
	color:#ffffff;
	font-family: arial,san-serif;
	font-weight:bold;
	font-size:12px;
	height:18px;
	min-width:65px !important;
	left:12px;
	line-height:18px;
	position:absolute;
	padding-left:4px;
	padding-right:4px;
	text-align:center;
	top: -18px;
	z-index:9998;
}
#sc_drag_cancel, #sc_drag_crop {
	background-color: rgba(0, 0, 0, 0.5);
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	font-family: arial,san-serif;
	font-weight:bold;
	height:22px;
	line-height:22px;
	position:absolute ;
	z-index:9998
}
#sc_drag_crop {
	bottom:-25px;
	text-align: center;
	right:10px;
	min-width: 30px !important;
	padding: 0 10px;
}
#sc_drag_cancel {
	bottom:-25px;
	text-align: center;
	right:70px;
	min-width: 30px !important;
	padding: 0 10px;
}
#sc_drag_shadow_top, #sc_drag_shadow_bottom, #sc_drag_shadow_left, #sc_drag_shadow_right {
	background-color: #000000;
	opacity: 0.5;
	position: absolute;
	z-index:7000;
	border: 0;
}
#sc_drag_shadow_top {
	left: 0;
	top: 0;
}
#sc_drag_shadow_bottom {
	bottom: 0;
	right: 0;
}
#sc_drag_shadow_left {
	bottom: 0;
	left: 0;
}
#sc_drag_shadow_right {
	right: 0;
	top: 0;
}
#sc_drag_north_east, #sc_drag_north_west, #sc_drag_south_east, #sc_drag_south_west  {
	border:1px solid #FFFFFF;
	background-color: #0000FF;
	height: 5px;
	position: absolute;
	width: 5px;
	z-index:9998;
}
#sc_drag_north_east {
	cursor: ne-resize ;
	right: -4px ;
	top: -3px;
}
#sc_drag_north_west {
	cursor: nw-resize ;
	left: -3px ;
	top: -3px;
}
#sc_drag_south_east {
	bottom: -4px;
	cursor: se-resize ;
	right: -4px ;
}
#sc_drag_south_west {
	bottom: -4px;
	cursor: sw-resize ;
	left: -3px ;
}

.sc_tip_save_status {
	position :fixed;
	border-radius: 4px 4px;
	height: 30px;
	line-height: 30px;
	text-indent: 1em;
	width: 200px;
	background: #fff1a8;
	color: #000000;
	top:5px;
	left:45%;
	font-size: 12px;
}

.sc_tip_save_status a{
	text-decoration: underline;
	color: #2A5DB0;
}
#leftmenu_nav{
	list-style:none;
	text-decoration: none;
	margin:0px;
	width: 180px;
}
#leftmenu_nav>li>a{
	text-decoration: none;
	margin-left: 27px;
	vertical-align: 15px;
	font-family: 'Museo', Helvetica, Arial, Geneva, sans-serif;
	color: white;
}
#leftmenu_nav>li>a>i {
	color: white;
	padding-right: 10px;
	float: right;
	line-height: 20px;
	font-size: 22px;
}
#page_content{
	text-align:left;
	margin-left:25px;
	margin-right:25px;
}
.header_border{
	background-color:white;
	height:100px;
}
.qrcodeimg{
	width:130px;
	height:130px;
}
.appimageleft{
	padding-left: 15px;
}
@media(min-width:0px) and (max-width:500px){
	.appimageleft{
	   padding-left: 0px;
    }
}
@media(min-width:538px) {
	#nurseicon{
		background-image: url("../images/blue3.png");
	    background-repeat:no-repeat;
	    background-position: right 0px bottom;
    }
    #nurseicon{
	   display:block;
    }
    #mobilenurseicon{
    	display:none;
    }
}
@media(min-width:0px) and (max-width:537px){
	#nurseicon{
	   display:none;
    }
    #mobilenurseicon{
    	display:block;
    	text-align: center;
    }
}